.wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151b28;
    font-family: 'Monserat', sans-serif;
    @media screen and (max-width: 1220px) {
        height: auto;
        flex-direction: column;
    }
}

.about{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imgAbout {
    width: 100%;
    border-radius: 30px;
    border: 2px solid #e8ab5f;
    object-fit: cover;
}

.title{
    font-weight: 700;
    font-size: 25px;
    margin: 0 0 25px;
}

.text{
    color: #e8ab5f;
    width: 50%;
    font-family: "Montserat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-right: 30px;

}

.list{
    margin-bottom: 10px;
    font-weight: 600;
    color: #fff;
    margin-left: 30px;
}

.subText{
    margin-bottom: 10px;
    font-weight: 520;
}
